doctype html
html
  head
    meta(charset='utf8')
    base(href='/')
    title A simple Node.js Blog
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header
      h1.title A simple Node.js Blog
      #menu
        ul
          li 
            a(href='/') Home
          li
            a(href='/about') About
          li
            input#searchtext(placeholder="Buscar")
            button#search ok

    #container
      block content

    #tags
      h3 Tags
      ul
        each tag, i in tags
          li 
            a(href='/tag/' + tag._id)  
              span #{tag._id} (#{tag.count})

    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='/javascripts/blog.js')